IndentWidth: 4
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 80
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveMacros: true
FixNamespaceComments: false
NamespaceIndentation: All
AlignConsecutiveAssignments: true
AlignEscapedNewlines: true
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
PenaltyBreakAssignment: 50
PointerAlignment: Left
ReferenceAlignment: Left