.ccls
.cache/
.pytest_cache/
.ccls-cache
.vscode/c_cpp_properties.json
.vscode/arduino.json
deploy_sandbox
build/
builds
lib/cryptoauth/cryptoauthlib
lib/cryptoauth/build48
lib/cryptoauth/build64
__pycache__/
